<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="file_upload">Select File to upload</label>
            <input type="file" name="profile"><br />
            <button type="submit">Submit File</button>
        </div>
    </form>
</body>
</html>
